header{
    width: 1100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: 'Abril Fatface', cursive;
}

h2, h3, p{
    font-family: 'Montserrat', sans-serif;
}

#grille h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

header ul{
    display: flex;
    list-style: none;
}

#logo_header{
    height: 100px; 
    width: 100px;
}

#logo_header img{
    object-fit: cover;
    height: 100%;
}

#image_page{
    object-fit: cover;
    height: 800px;
    width: 1100px;
}

#image_page img{
    height: 200px; 
    background-size: contain;
}

li{
    padding-left: 10px;
    color: gray;
}

a{
    text-decoration: none;
    color: gray;
}

#purple_nav_link{
    color: indigo;
    font-weight: bold;
}

a:visited{
    color:gray;
}

#purple_nav_link :visited{
    color:indigo;
}

a:hover{
    font-weight: bolder;
    color: indigo;
}

main{
    width: 1100px;
    margin:0 auto;
}

h1{
    color:#D05270;
}

h2{
    color: indigo;
    font-size: 20px;
}

h4{
    color: #D05270;
    font-size: 24px;
}

.article_top{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
}

.article_top h2{
    color: #414342;
    font-size: 30px;
}

#boy_pic{
    height: 300px;
}

.article_top p{
    width:650px;
    text-align: justify;
    color: #414342;
}

#reseaux{
    width: 650px;
}

#reseaux ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#reseaux img{
    width: 200px;
}

#reseaux li{
    padding-left: 0;
    padding-right: 20px;
}

#reseaux li:nth-last-child(1){
    padding-right: 0px;
}

#grille{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 1100px;
    padding-bottom: 300px;
    margin-top: 100px;
}

#grille h2{
    color: #414342;
}

#grille h3{
    color: #D05270;
    font-size: 14px;
}

#grille p{
    font-size: 13px;
    color: #414342;
    text-align: justify;
}

#gridpropos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 1100px;
}

#gridpropos h2{
    color: indigo;
    margin-top: 50px;
}

#gridpropos p{
    color: #414342;
}

#propos p{
    color: #414342;
}

#article_propos h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

#img_propos{
    object-fit: cover;
    margin-top: 50px;
    width: 1100px;
    height: 500px;
}

#grille img{
    object-fit: cover;
    height: 400px;
    width: 535px;
}

p{
    color:#414342;
    text-align: justify;
}

h3 + p{
    text-align: justify;
}

h3{
    color:#D05270 ;
    font-size: 10px;
}

article h2{
    font-size: 12px;
}

article em{
    color:#D05270 ;
    text-decoration: underline;
    font-style: normal;
}

article h4{
    color:#D05270 ;
    font-style: normal;
}

.right_position_grid_pic{
    display: flex;
    justify-content: end;
}

#blog_main_pic{
    object-fit: contain;
    width: 1100px;
}

#blog_page_main p{
    text-align: justify;
}

#blog_page_main h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

#blog_page_main h2{
    color: indigo;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#blog_page_main h3{
    color: indigo;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#blog_page_main h4{
    color: #D05270;
    font-size: 24px;
    margin-top: 2px;
}

#blog_page_main p{
    color: #414342;
}

#image_page{
    margin-top: 50px;
}

#about_blog_page{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 300px;
}

#about_blog_page{
    font-family: 'Montserrat', sans-serif;
}

#about_blog_page p{
    font-size: 13px;    
}

#about_blog_page article{
    width: 650px;
    padding-top: 30px;
}

form{
    padding: 100px;
    margin: 0 auto;
    margin-bottom: 300px;
    width: 500px;
}

label{
    font-family: 'Montserrat', sans-serif;
    color: #D05270;
    font-weight: bold;
    margin: 15px auto;
    margin-top: 35px;
    display: block;
}

#button {
    font-family: 'Montserrat', sans-serif;
    width: 120px;
    height: 30px;
    color: purple;
    font-weight: bold;
    background-color: #FFFFFF;
    float: right;
    border: 1px solid gray;
    margin-top: 35px;
    cursor: pointer;
}

textarea{
    background-color: white;
    height: 200px;
    width: 495px;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px black;
    resize: none;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #414342;
}

input{
    background-color: white;
    width: 495px;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px black;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;  
    font-size: 16px;
    color: gray;
}

.title_colors{
    color: indigo;
}

input:focus {
    color: #414342;
  }

#apropos_grid{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 1100px;
}

#apropos_grid p{
    color: #414342;
}

#cv_grid p{
    width: 650px;
}

#cv_grid{
margin-top: 50px;
}

#squedrong_team h2{
    margin-top: 50px;
}

.dev_pic{
    width: 350px;
}

.cvpage_flexdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.cvpage_flexdiv h3{
    text-align: center;
}

.cv_article_bottom{
    display: flex;
    width: 1100px;
    margin: 50px auto;
    justify-content: space-between;
    margin-bottom: 300px;
}

.cv_article_bottom p{
    width:650px;
    text-align: justify;
    color: #414342;
    padding-top: 20px;
}

#grille a{
    color: #D05270;
}

.cvpage_flexdiv h3{
    font-size: 16px;
}

.reseaux{
    width: 650px;
}

.reseaux ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.reseaux img{
    width: 200px;
}

.reseaux li{
    padding-left: 0;
    padding-right: 20px;
}

.reseaux li:nth-last-child(1){
    padding-right: 0px;
}

.dev_pic{
    border-radius: 100%;
}