

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article_propos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  gap: 30px;

  position: relative;
  .apropos-2p{
    margin-right:10px;
    margin-left: 20px ;
  }

  #img_propos {
    object-fit: cover;
    margin-top: 50px;
    width: auto;
    height: auto;
  }

  img {
    width: auto ;
    height: auto;
    object-fit: cover;
  }
  .box { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    gap: 30px;

    .icones-media {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    #boy {
      min-width: 200px;
      min-height: 200px;
    }
    #twitter {
      color: rgb(255, 255, 255);
      background-color: #47acdf;
      padding: 10px 30px;
    }
    #linkedin {
      background-color: #1275b1;
      color: rgb(255, 255, 255);
      padding: 10px 30px;
    }

    #medium {
      color: rgb(255, 255, 255);
      background-color: black;
      padding: 10px 20px;
    }

    .icone {
      max-width: 30px;
      max-height: 30px;
      padding: 0px 20px;
    }
  }
}
@media screen and (max-width: 1140px) {
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    .icones-media {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    .box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .icones-media {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
      }
    }
  }
}
