
  h1 {
    letter-spacing: 1px;
  }
  .intro { width: 1100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;

    
    a{
      border: solid 5px;
      margin: 0 auto;
      gap: 20px;
      }
}
 
   .box {
   display: flex;
   flex-direction: row;
   justify-content: center; align-content:stretch;
   text-align: center;
   align-items: center;
   gap: 60px;
   .icones-media{
    display:flex;
    flex-direction: row;
    text-align: center;
    
 }
   #boy{ min-width:400px ;
         min-height: 400px;
         
  }
   #twitter
  { color: rgb(255, 255, 255);
    background-color:#47acdf;
     padding: 10px 30px;   
 }
#linkedin{
  background-color: #1275b1;
color:rgb(255, 255, 255);
padding: 10px 30px;
}

#medium{
 color: rgb(255, 255, 255); 
 background-color: black;
 padding: 10px 30px;
}


}.icone{
  max-width: 30px;
  max-height: 30px;
  padding:0px 20px ;
}
  
  

    

@media screen and (max-width: 1140px)
{
    .intro {width:600px ;
      .box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        .icones-media {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
        }
         
} }}
@media screen and (max-width: 800px)
{
    .intro {width: 400px ;
      margin: 10px 10 px;
      .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        .icones-media {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
         }
  
} }}

