@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

footer {
    background-color:#e1466f;
}
footer ul li {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    display: flex;
}


footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin: 20px;
}

footer ul li  {
    text-decoration: none;
    font-weight: 600;
}
.liste_footer{
    font-size: 1.2em;
    color: white;
}
    
.flottant{

        height: 120px;
        width: 120px;
        padding: 5px;
        padding-left: 10px;
        margin: 5px;
      }

.flottant img {
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%;
      }
img{
    grid-area: Image;
    margin-left: 20px;
    width: 120px;
    margin: auto;
}
p {
    grid-area: Text;
}

.global_footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color:white;
  font-size: 1em;
  align-items: center;  
}
.texte_footer{
    text-align: justify;
    padding: 20px;
}

.newsletter{
    text-align:justify;
    margin: right 10px; ;
}

.deuxieme_foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background:#171345;
    margin-top: 10px;
    bottom: 0%;
   
  }
  .deuxieme_foot ul li {
    display: inline;
    color: #fff;
    padding: 3px;
    
  }
  
  .liste_footer ul li a {
      color: #fff;
  }
  .liste_footer ul li{
    color: #fff;
  }

  .footer_form {
      width: 100%;
  }